/* footer */

footer{
	width: 100%;
	height: 65px;
	background: $SecondColor;
	position: fixed;
	bottom: 0;
	border-top: 5px solid $ThirdColor;
	box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
	p{
		padding-top: 20px;
		text-align: center;
		color: $FontColor;
		font-size: 18px;
	}
	a{
		text-decoration: none;
		color: $FontColor;
		font-size: 18px;
	}
	.fa-instagram{
		position: fixed;
		bottom: 40px;
		left: 40px;
		font-size: 40px;
		color: $SecondColor;
		border: 5px solid $ThirdColor;
		background: $ThirdColor;
		border-radius: 50%;
		width: 50px;
		text-align: center;
		transition: 0.2s;
		&:hover{
			color: $ThirdColor;
			background: $SecondColor;
			border: 5px solid $SecondColor;
			box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
		}
	}
	.fa-facebook-f{
		@extend .fa-instagram;
		left: 100px;
		width: 50px;
		&:hover{
			@extend .fa-instagram:hover;
		}
	}
	.fa-youtube{
		@extend .fa-instagram;
		left: 160px;
		width: 60px;
		&:hover{
			@extend .fa-instagram:hover;
		}
	}
}