/* statistiques */

/* container */

#container2{
	margin-top: 130px;
	height: 270px;
	.table1{
		width: 100%;
	  	color: $FontColor;
		td, th {
		  border: none;
		  text-align: left;
		  padding: 8px;
		  text-align: center;
		}
		tr:nth-child(even) {
	  	  background-color: $ThirdColor;
		}
	}
	.table2{
		width: 100%;
	  	color: $FontColor;
	  	margin: 50px 0 100px 0;
		td, th {
		  border: none;
		  text-align: left;
		  padding: 8px;
		  text-align: center;
		}
	}
}